
* {margin: 0;padding: 0;font-family: monospace;outline: none;text-decoration: none;}

html {
	cursor: url('data:image/svg+xml,\
		<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100">\
			<circle cx="6" cy="6" r="6" fill="black" />\
	</svg>'), auto;
}





.console  { font-family: Consolas;}
 main { background: #2B2B2B; color: #A9B7C6;font-weight: bolder; }
 .container_btn { background: #2B2B2B; color: #A9B7C6;font-weight: bolder; }

.token.number { color: #BBB529;font-weight: bolder; }
.keyword { color: #6897BB;font-weight: bolder; }
.token.property { color: #CC7832; line-height: 1em;font-weight: bolder; }
.token.string { color: #A9B7C6;font-weight: bolder; }
.token.punctuation { color: #A9B7C6;font-weight: bolder; }
.token.tag-id { color: #9876AA;font-weight: bolder; }
.function { color: #AABBCC;font-weight: bolder; }
 .token.function { color: #FFC66D;font-weight: bolder; }
.token.attr-name { color: #A9B7C6;font-weight: bolder; }
.atrule-id { color: #6A8759;font-weight: bolder; }
.token.atrule { color: #6A8759;font-weight: bolder; }
.token.boolean { color: #61A151;font-weight: bolder; }
.token.comment { color: #CC7832;font-weight: bolder; }
 .language-php { color: #CC7832;font-weight: bolder; }
.variable { color: #BC3F3C;font-weight: bolder; }
.token { color: #629755; font-weight: bold; font-style: italic; text-decoration: underline;font-weight: bolder; }
.token.selector { color: #6897bb;font-weight: bolder; }
.selector { color: #6A8759;font-weight: bolder;}
.token.punctuation { color: #A9B7C6;font-weight: bolder;}
.punctuation { color: #FF9E59;font-weight: bolder; }


.cm-s-darcula .CodeMirror-cursor { border-left: 1px solid #A9B7C6; }
.cm-s-darcula .CodeMirror-activeline-background { background: #323232; }
.cm-s-darcula .CodeMirror-gutters { background: #313335; border-right: 1px solid #313335; }
.cm-s-darcula .CodeMirror-guttermarker { color: #FFEE80; }
a.token { color: #D0D0D0; }
.cm-s-darcula .CodeMirrir-linenumber { color: #606366; }
.cm-s-darcula .CodeMirror-matchingbracket { background-color: #3B514D; color: #FFEF28 !important; font-weight: bold; }

div { background: #214283; }

.CodeMirror-hints.darcula {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #9C9E9E;
  background-color: #3B3E3F !important;
}

.CodeMirror-hints.darcula .CodeMirror-hint-active {
  background-color: #494D4E !important;
  color: #9C9E9E !important;
}
